.color {
  color: #874b79;
}

.mainBlock {
  background-color: #ECECEC;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 479px) {
    background-image: linear-gradient(
        rgba(234, 234, 234, 0.747),
        rgba(234, 234, 234, 0.747)
      ),
      url(../../public/img/sc/header_sc_mobile.png);
    background-position: 75% 25%;
    height: 680px;
    max-width: 1200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(234, 234, 234, 0.747),
          rgba(234, 234, 234, 0.747)
        ),
        url(../../public/img/sc/header_sc_mobile@2x.png);
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(234, 234, 234, 0.747),
        rgba(234, 234, 234, 0.747)
      ),
      url(../../public/img/sc/header_sc_mobile.png);
    background-position: 75% 25%;
    height: 820px;
    max-width: 1200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(234, 234, 234, 0.747),
          rgba(234, 234, 234, 0.747)
        ),
        url(../../public/img/sc/header_sc_mobile@2x.png);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: url(../../public/img/sc/header_sc_tablet.png);
    height: 860px;
    max-width: 1200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../public/img/sc/header_sc_tablet@2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../../public/img/sc/header_sc_desktop.png);
    height: 820px;
    max-width: 1600px;
    background-position: 300px -100px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../public/img/sc/header_sc_desktop@2x.png);
      background-position: 300px -100px;
    }
  }
}

.leftBlock {
  position: relative;
  z-index: 3;
  padding-bottom: 50px;
  @media only screen and (min-width: 1200px) {
    margin: 40px 0 0 40px;
  }

  @media only screen and (max-width: 1199px) and (min-width: 768px) {
    margin-left: 50px;
  }
  @media only screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
  }
}

.textH1 {
  width: 600px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;

  @media only screen and (max-width: 1199px) and (min-width: 768px) {
    padding-top: 35px;

    width: 520px;

    font-size: 34px;
    line-height: 40px;
  }

  @media only screen and (max-width: 767px) {
    width: 416px;
    padding-top: 35px;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 129%;

    text-transform: uppercase;
  }
  @media only screen and (max-width: 480px) {
    width: 300px;
    padding-top: 25px;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 129%;

    text-transform: uppercase;
  }
}

.leftBlocktextH1 {
  @media only screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form {
  background-color: #ffd24e;
  margin-top: 80px;
  padding: 32px;
  border-radius: 10px;
  width: 470px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  @media only screen and (max-width: 767px) {
    width: 420px;
  }

  @media only screen and (max-width: 480px) {
    margin-top: 40px;
    width: 300px;
  }
}

.form_header {
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: #1b1b1b;
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.form_input {
  width: 407px;
  height: 48px;
  border-radius: 5px;
  border-style: none;
  margin-top: 20px;
  padding-left: 22px;
  font-family: "Mont";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #535353;
  @media only screen and (max-width: 767px) {
    width: 360px;
  }

  @media only screen and (max-width: 480px) {
    width: 250px;
  }
}

.form_button {
  margin-top: 25px;
  width: 238px;
  height: 57px;
  background: #874b79;
  box-shadow: 0px 4px 5px rgba(135, 75, 121, 0.34);
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-style: none;
}

.form_button:hover {
  color: #874b79;
  background: #ffffff;
}

.formRequiredText {
  margin-top: 5px;
  color: #874b79;
}
