.main_container {
  margin: 0 0 40px 0;
}

.image {
  width: 70px;
  @media only screen and (min-width: 768px) {
    width: 100px;
  }
}

.header_text_color {
  color: #874b79;
}

.header_text {
  margin: 40px 0 20px 0;

  font-family: "appleberry";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 48px;
  text-align: center;

  color: #1b1b1b;
  @media only screen and (min-width: 768px) {
    margin: 60px 0 50px 0;
    font-size: 60px;
  }
}

.ul_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .li_item:not(:first-child) {
    margin: 20px 0 0 0;
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 40px 0 0 0;
    }
    @media only screen and (min-width: 1200px) {
      margin: 0;
    }
  }
  & .li_item:nth-child(even) {
    @media only screen and (min-width: 1200px) {
      margin: 0 0 0 40px;
    }
  }
  & .li_item:nth-child(n + 3) {
    @media only screen and (min-width: 1200px) {
      margin-top: 40px;
    }
  }
}

.li_item {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 220px;

  background: #fbf6f3;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  @media only screen and (min-width: 768px) {
    width: 570px;
  }
}

.span_text {
  margin: 0 0 0 16px;
  width: 200px;

  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1b1b1b;

  @media only screen and (min-width: 768px) {
    margin: 0 0 0 50px;
    width: 300px;

    font-size: 20px;
    line-height: 24px;
  }
}

.span_text_color {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 700;
  color: #874b79;

  @media only screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 28px;
  }
}

@media only screen and (min-width: 1200px) {
  .grid_container {
    display: grid;
    grid-template-areas:
      "a b "
      "c d"
      "e e";
  }

  .grid_item1 {
    grid-area: a;
  }
  .grid_item2 {
    grid-area: b;
  }
  .grid_item3 {
    grid-area: c;
  }
  .grid_item4 {
    grid-area: d;
  }
  .grid_item5 {
    grid-area: e;
    justify-self: center;
  }
}
