.bonusesFlex {
  margin-top: 60px;
  margin-bottom: 60px;
  // height: 1050px;
  display: flex;
  justify-content: space-around;

  @media only screen and (max-width: 1199px) {
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media only screen and (max-width: 767px) {
    margin-top: 30px;
  }

  @media only screen and (max-width: 479px) {
  }
}

.bonusesH2 {
  font-family: "appleberry";
  font-style: normal;
  font-weight: 500;
  font-size: 65px;
  line-height: 75px;
  color: #1b1b1b;
  position: relative;
  @media only screen and (max-width: 1199px) {
    font-size: 55px;
    max-width: 500px;
  }

  @media only screen and (max-width: 767px) {
    max-width: 400px;
    font-weight: 500;
    font-size: 45px;
    line-height: 58px;
  }
  @media only screen and (max-width: 479px) {
    padding: 0px 15px 0px 15px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}

.bonusesH2Color {
  font-weight: 700;
  font-size: 65px;
  color: #874b79;
  @media only screen and (max-width: 1199px) {
    font-size: 55px;
    
  }
  @media only screen and (max-width: 767px) {
    max-width: 400px;
    font-weight: 700;
    font-size: 45px;
    line-height: 43px;
  }
  @media only screen and (max-width: 479px) {
    font-weight: 700;
    font-size: 35px;
    line-height: 30px;
  }
}

.headerContainer {
  width: 580px;
  @media only screen and (max-width: 1199px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.ul {
  width: 450px;
  & li:not(:last-child) {
    margin-bottom: 40px;
  }
  @media only screen and (max-width: 1199px) {
    margin-top: 40px;
  }

  @media only screen and (max-width: 767px) {
    width: 400px;
  }

  @media only screen and (max-width: 479px) {
    margin-left: 20px;
    margin-right: 10px;
    max-width: 300px;
  }
}

.li {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: #1b1b1b;
  @media only screen and (max-width: 479px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.listText {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 20px;

  color: #1b1b1b;

  @media only screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 23px;
  }
  @media only screen and (max-width: 479px) {
    font-size: 16px;
    line-height: 18px;
  }
}

.bonusesImages {
  width: 80px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 479px) {
    width: 60px;
    margin-left: 20px;
  }
}

.bonusesRightContainer {
  @media only screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    // margin-top: 50px;
  }
}

.bonuses_images {
  height: 70px;
  @media only screen and (max-width: 767px) {
    height: 60px;
  }

  @media only screen and (max-width: 479px) {
    height: 45px;
  }
}

.grid_container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-rows: minmax(auto, auto);
}
.instagramBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #1b1b1b;

  border: 2px solid #874b79;
  border-radius: 50px;
  margin: 20px 0 0 0;
  padding: 10px 15px 10px 15px;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
  }
  @media only screen and (max-width: 479px) {
    font-size: 12px;
    padding: 10px 15px 5px 15px;
  }
}

.instagramIcon{
  margin: 0 0 5px 5px;
  @media only screen and (max-width: 479px) {
    margin: 0 0 10px 0;
  }
}