.color {
  color: #874b79;
}

.mainBlock {
  background-color: #fbf6f3;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    background-image: url(../public/img/forAdults/headerImage.webp);
    height: 820px;
    max-width: 1600px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../public/img/forAdults/headerImage@2x.webp);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: url(../public/img/forAdults/headerImage_tablet.webp);
    background-position: 75% 25%;
    height: 860px;
    max-width: 1200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../public/img/forAdults/headerImage_tablet@2x.webp);
    }
  }

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
      rgba(234, 234, 234, 0.747),
      rgba(234, 234, 234, 0.747)
      ),
      url(../public/img/forAdults/headerImage_tablet.webp);
    background-position: 75% 25%;
    height: 780px;
    max-width: 1200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(234, 234, 234, 0.747),
          rgba(234, 234, 234, 0.747)
        ),
        url(../public/img/forAdults/headerImage_tablet@2x.webp);
    }
  }

  @media screen and (max-width: 479px) {
    height: 700px;
  }
}

.leftBlock {
  position: relative;
  z-index: 3;
  padding-bottom: 50px;
  @media only screen and (max-width: 1199px) and (min-width: 768px) {
    margin-left: 50px;
  }
  @media only screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
  }
}

.textH1 {
  width: 810px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  padding-top: 75px;

  @media only screen and (max-width: 1199px) and (min-width: 768px) {
    width: 480px;
  }

  @media only screen and (max-width: 767px) {
    width: 416px;
    padding-top: 35px;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 129%;

    text-transform: uppercase;
  }
  @media only screen and (max-width: 480px) {
    width: 300px;
    padding-top: 25px;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 129%;

    text-transform: uppercase;
  }
}

.leftBlocktextH1 {
  @media only screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form {
  background-color: #ffd24e;
  margin-top: 100px;
  padding: 32px;
  border-radius: 10px;
  width: 470px;
  height: 418px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  @media only screen and (max-width: 767px) {
    width: 420px;
  }

  @media only screen and (max-width: 480px) {
    margin-top: 70px;
    width: 300px;
  }
}

.form::before {
  content: "Перевіриш ?";
  position: absolute;
  left: 20px;
  top: -50px;
  font-family: "appleberry";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 61px;
  /* identical to box height */

  color: #1a1a1a;

  transform: rotate(-9.12deg);
  z-index: 1;

  @media only screen and (max-width: 480px) {
    font-size: 40px;
    top: -40px;
  }
}

.form_header {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #1b1b1b;
}

.form_input {
  width: 407px;
  height: 48px;
  border-radius: 5px;
  border-style: none;
  margin-top: 20px;
  padding-left: 22px;
  font-family: "Mont";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #535353;
  @media only screen and (max-width: 767px) {
    width: 360px;
  }

  @media only screen and (max-width: 480px) {
    width: 250px;
  }
}

.form_button {
  margin-top: 25px;
  width: 238px;
  height: 57px;
  background: #874b79;
  box-shadow: 0px 4px 5px rgba(135, 75, 121, 0.34);
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-style: none;
}

.form_button:hover {
  color: #874b79;
  background: #ffffff;
}

.formRequiredText {
  margin-top: 5px;
  color: #874b79;
}
