.reviewsMainDiv {
  padding: 20px 30px 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media only screen and (min-width: 480px) {
    flex-direction: row;
  }
}

.reviewsVideoDiv {
    
  margin: 30px 0 30px 0;
  @media only screen and (max-width: 479px) {
    max-width: 320px;
  }
  @media only screen and (min-width: 480px) {
    flex: 0 0 50%;
    margin: 0 0 0 10px;
    max-width: 300px;
  }
  @media only screen and (min-width: 768px) {
    margin: 0 0 0 10px;
    max-width: 490px;
  }
}

.reviewsHDiv{
display: flex;
justify-content: center;
align-items: center;
margin: 80px 0 20px 0;
@media only screen and (max-width: 479px) {
  margin: 40px 0 10px 0;
}
}

.reviewsH{
  font-family: "appleberry";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 42.54px;

  color: #1b1b1b;
  @media only screen and (max-width: 479px) {
    font-size: 35px;
  }
}