.form {
  background-color: #ffd24e;
  margin-top: 45px;
  margin-bottom: 100px;
  padding: 32px;
  border-radius: 10px;
  width: 680px;
  height: 418px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media only screen and (max-width: 1199px) {
    width: 600px;
  }

  @media only screen and (max-width: 767px)  {
    width: 420px;
  }

  @media only screen and (max-width: 479px)  {
    width: 300px;
    margin-bottom: 50px;
  }
}

.form_header {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;

  color: #1b1b1b;
  @media only screen and (max-width: 1199px) and (min-width: 768px) {
    font-size: 27px;
    width: 550px;
  }
  @media only screen and (max-width: 479px)  {
    font-size: 23px;
  }
}

.form_input {
  width: 560px;
  height: 48px;
  border-radius: 5px;
  border-style: none;
  padding-left: 20px;
  margin-top: 20px;
  @media only screen and (max-width: 1199px) and (min-width: 768px) {
    width: 480px;
  }

  @media only screen and (max-width: 767px)  {
    width: 370px;
  }
  @media only screen and (max-width: 480px)  {
    width: 250px;
  }
}

.form_button {
  margin-top: 20px;
  width: 238px;
  height: 57px;
  background: #874b79;
  box-shadow: 0px 4px 5px rgba(135, 75, 121, 0.34);
  border-radius: 50px;
  color: #ffffff;

  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-style: none;
}
.form_button:hover{
  cursor: pointer;
  color: #874b79;
  background: #ffffff;
}

.SignUpBlockDiv {
  background-color: #874b79;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.SignUpH {
  margin-top: 75px;
  width: 830;
  font-family: "appleberry";
  font-style: normal;
  font-weight: 500;
  font-size: 65px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;

  @media only screen and (max-width: 767px)  {
    margin-top: 50px;
    font-weight: 500;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.05em;
  }
  @media only screen and (max-width: 479px)  {
    margin-top: 30px;
    font-size: 40px;
  }
}

.SignUpH2 {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42.54px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
  @media only screen and (max-width: 1199px)  {
    max-width: 600px;
   }

  @media only screen and (max-width: 767px)  {
   max-width: 540px;
  }

  @media only screen and (max-width: 479px)  {
    font-size: 25px;
  }
}

.formRequiredText{
  margin-top: 5px;
  color: #874b79;
}